:root {
  --grey-nav: #3f3f3f;
}

* {
  
  box-sizing: border-box;
  /* overflow-x: hidden !important;     */
  
  }

  nav{
    position: sticky; top: 0; z-index: 1000;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
  }
  .grid-container {
  
  display: grid;
  
  grid-template-areas: 
  "logo search nav-icons addpost rightdrop"
  ;
  grid-template-rows: min-content;
  grid-template-columns: min-content auto auto auto min-content;

  }
  
  .grid-item {
      background-color: var(--grey-nav);
      /* border-bottom: 2px solid red; */
  } 


.item-1{
  grid-area: search;
  display: flex;
  align-items: center;
  border-bottom: 2px solid red;
  /* justify-content: center; */
}
.item-2{
    /* text-align: center; */
    grid-area: nav-icons;
    display: flex;
    align-items: center;
    border-bottom: 2px solid red;  
    
}
.item-3{
  grid-area: addpost;  
  text-align: right;
  border-bottom: 2px solid red;
}
.item-4{
  grid-area: rightdrop; 
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
  border-bottom: 2px solid red;
}
.item-0{
  grid-area: logo;
  border-bottom: 2px solid red;
}

.item-5{
    grid-area: leftdrop;
    border-bottom: 2px solid red;
    display: none;
}

.grid-container a{
  text-decoration: none;
  color: white;
}

.grid-container  a:visited{
  color: white;
}

.grid-container ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.grid-container li{
  display: inline-block;
  vertical-align: middle;
}

.nav-item-2{
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  width: 100%;
}

.iconify { 
  width: 30px; 
  height: 30px;

}

.icon-search{
width: 16px; 
height: 16px;
}

.icon-bell {
  color: rgb(206, 206, 206);
  background-color: var(--grey-nav);
}

.icon-bell:hover {
  color:white;    
}

.logo {
  background: none;
  cursor: pointer;
  height: 40px;
  padding: 0;
}

.hamburger{
  padding-left: 3px;
  padding-right: 2px;
}

.text{
  padding-left: 5px;
  font-size: 1.2rem;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-cont{
  display: none;
  position: absolute;
  background-color: rgb(63,63,63,0.5);
  min-width: 20%;
  z-index: 1; 
  right: 0;
  border-bottom-left-radius: 15px;
}

/* .grid-container ul li:hover > ul,
.grid-container ul li ul:hover {
display: block;
} */

.dropdown-cont li {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.last{
  border-bottom-left-radius: 15px;
}
.dropdown li:hover{
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to bottom left, rgba(220, 20, 60), rgb(0, 0, 0));
  
}

.last:hover{
  border-bottom-left-radius: 15px;
}

.last-1:hover{
  border-bottom-right-radius: 15px;
}
.dropdown_left{
  color: white;
}
 
.dropdown-cont_left{
  display: none;
  position: absolute;
  background-color: rgb(63,63,63,0.5);
  min-width: 20%;
  z-index: 1; 
  left: 0;
  border-bottom-left-radius: 15px;
}

.dropdown-cont_left li {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_left li:hover{
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to bottom left, rgba(220, 20, 60), rgb(0, 0, 0));
  
}

button {
  all: unset;
  cursor: pointer;
}
.search{
font-family: Calibri, 'Trebuchet MS', sans-serif;

border-radius: 15px;
background-color: gray;
padding: 5px;

}

.search form
{
  margin: 0;
  padding: 0;
}

.nav-search
{ 
outline: none;
font-size: 1em;
color: white;
border: none;
background-color: gray;
}


::placeholder
{
color: white;
opacity: 1;      
}

@media (max-width: 1020px)
{
    .nav-profile-data-username{
      display: none;
    }
    .item-5
    {
      grid-area: leftdrop;
      display: unset;
      
    }
    .grid-container{
      grid-template-areas: 
      "logo search addpost"
      "leftdrop nav-icons rightdrop"
      ;
      grid-template-rows: min-content min-content;
      grid-template-columns: min-content auto auto;
    }

    .item-1{
      grid-area: search;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: none;
    }
    .item-0
    {
      /* grid-area: logo; */
      border-bottom: none;
    }
    .item-3
    {
      /* grid-area: logo; */
      border-bottom: none;
    }

    .item-2
    {
      padding: 4px;
    }
    
}