{% extends 'base.html' %}

{% block body %}
    <h2>{{ blog.title }}</h2>
    <form action="{% url 'can:update_path' id_b=blog.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {% if form.errors %}
                <tr>
                    {{ form.non_field_errors }}
                </tr>
            {% endif %}
            {% for field in form.visible_fields %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>
                        {{ field }}
                        {% if field.help_text %}
                            {{ field.help_text }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Confirm">
    </form>
{% endblock %}