{% extends "base.html" %}
{% load static %} 

{% block head %}
  <link rel="stylesheet" href="../../static/css/login.css">
{% endblock head %}

{% block body %}

  <br/>        
  <form class="form-signin box" method="POST">
    {% csrf_token %}
    
    <img src="{% static 'images/Logo.png' %}" alt="logo">
      <br />
      
      <h3 class="card-title text-center" style="text-align: center; color: white;">Reset Password</h3>
      {%for field in form%}
      <input class="form-control" style="font-size: large; width: 35%" id="{{ field.id_for_label }}" maxlength="40" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = '{{ field.html_name }}'"/>
              

      <h4 class='form-errors' style="color: aliceblue;">{{ field.errors }}</h4>
      
      {% endfor %}
      <br><br>
      <input style="font-size: large;" type="submit" name="" value="Request Password Reset"><br>
    
  </form>

{% comment original %}
<br/>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center"><b>Reset Password</b></h5>
          <form class="form-signin" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <br />
              {{ form}}
            </fieldset>
            <div class="form-group">
              <button
                class="btn btn-lg btn-primary btn-block text-uppercase"
                type="submit"
              >
                Request Password Reset</button
              ><br />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
{% endblock %}
